{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SJL - Not Found</title>
        <link rel="icon" href="{% static 'images/logo2IconOnly.png' %}">
    </head>
    <body>
        <h1>Not Found</h1>
        <p>The requested resource was not found on this server.</p>
    </body>
</html>
