{% extends "SJLApp/base.html" %}
{% load static %}

{% block head %}
    <title>SJL - About Us</title>
{% endblock head %}

{% block page %}
    <div
    class="text-center bg-image rounded-3"
    style="
        background-image: url('http://jonathan-potter.github.io/webgl-shaders/assets/julia-set.png');
        background-size: cover;
        background-color: rgba(255, 0, 0, 0.75);
        background-blend-mode: multiply;
    "
    >
        <div class="d-flex justify-content-center align-items-center">
            <div class="row py-5" style="background-color:rgba(0, 0, 0, 0.673); color: #ad1e1e; max-width: 1200px;">
                <!-- About Us Header -->
                <div class="row mx-auto my-2 text-center">
                    <h1 style="font-size:60px">About Us</h1>
                    <div class="d-flex justify-content-center"><hr class="my-2 text-dark w-100"></div>
                </div>

                <!-- First Row of Four Names -->
                <div class="row my-3 text-center">
                    <div class="col">
                        <div class="mx-auto" style="text-align:center">
                            <img class="rounded-circle" src="{% static 'aboutUsPortraits/NAppert.jpg' %}" width="140" height="140">
                        </div>
                        <h3>Nicholas Appert</h3>
                        <!-- Description/Links to things like linkedIn -->
                    </div>
                    <div class="col">
                        <div class="mx-auto">
                            <img class="rounded-circle" src="{% static 'aboutUsPortraits/SHazle.jpg' %}" width="140" height="140">
                        </div>
                        <h3>Sid Hazle</h3>
                        <!-- Description/Links to things like linkedIn -->
                    </div>
                    <div class="col">
                        <div class="mx-auto">
                            <img class="rounded-circle" src="{% static 'aboutUsPortraits/SJahangiri.jpg' %}" width="140" height="140">
                        </div>
                        <h3>Sean Jahangiri</h3>
                        <!-- Description/Links to things like linkedIn -->
                    </div>
                    <div class="col">
                        <div class="mx-auto">
                            <img class="rounded-circle" src="{% static 'aboutUsPortraits/MJeleznii.jpg' %}" width="140" height="140">
                        </div>
                        <h3>Maxim Jeleznii</h3>
                        <a href="https://www.linkedin.com/in/maxim-jeleznii-a36508144/"><img src="{% static 'images/linkedin.png' %}" alt="HTML tutorial" style="width:20px;height:20px;"></a>
                    </div>
                </div>

                <!-- Second Row of Four Names -->
                <div class="row my-3 text-center">
                    <div class="col">
                        <div class="mx-auto">
                            <img class="rounded-circle" src="{% static 'aboutUsPortraits/AToral.jpg' %}" width="140" height="140">
                        </div>
                        <h3>Alex Toral</h3>
                        <a href="https://www.linkedin.com/in/alejandro-toral-6b3831232/"><img src="{% static 'images/linkedin.png' %}" alt="HTML tutorial" style="width:20px;height:20px;"></a>
                    </div>
                    <div class="col">
                        <div class="mx-auto">
                            <img class="rounded-circle" src="{% static 'aboutUsPortraits/EUwhuba.png' %}" width="140" height="140">
                        </div>
                        <h3>Ejiroghene Uwhuba</h3>
                        <!-- Description/Links to things like linkedIn -->
                    </div>
                    <div class="col">
                        <div class="mx-auto">
                            <img class="rounded-circle" src="{% static 'aboutUsPortraits/ZWagner.jpg' %}" width="140" height="140">
                        </div>
                        <h3>Zachary Wagner</h3>
                        <!-- Description/Links to things like linkedIn -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock page %}