{% load tags %}
{% load static %}

{% url 'SJLApp:index' as index %}
{% url 'SJLApp:about_us' as aboutUs %}
{% url 'SJLApp:user' as profile %}
{% url 'SJLApp:login' as login %}
{% url 'SJLApp:logout' as logout %}
{% url 'SJLApp:create_shader' as create_shader %}
{% url 'SJLApp:login_page' as login_page %}
{% url 'SJLApp:create_user_page' as create_user_page %}

<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="{% static 'images/logo2IconOnly.png' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'my-codemirror/plugin/codemirror/lib/codemirror.css' %}">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        {% block head %}{% endblock head %}
        <style>
            .nav-link.text-danger.active {
                font-weight: bold;
            }
            .bg-julia {
                background-image: url("{% static 'images/julia-set.png' %}");
            }
        </style>
    </head>
    <body>
        <!-- Modal Error popup -->
        <div class="modal fade in" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Alert</h5>
                    </div>
                    <div class="modal-body">
                        {% for msg in messages %}
                            {{ msg }} <br>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Error activation -->
        {% if messages %}
            <script type="text/javascript">
                $(document).ready(function(){
                    $("#messageModal").modal('show');
                });
            </script>
        {% endif %}
        <nav class="navbar navbar-light bg-white">
            <div class="container-fluid">
                <div>
                    <button class="navbar-toggler mx-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand justify-content-end mx-3" href="{{ index }}">
                        <img class="w3-round" src="{% static 'images/logo2TextOnly.png' %}" width="auto" height="40px"></img>
                    </a>
                </div>
                {% if user.is_authenticated %}
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-danger" href="#" id="signInDropdown" role="button" data-bs-toggle="dropdown">
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <div class="m-2"><a class="text-danger" href="{{ profile }}">My Profile</a></div>
                            <hr class="my-2 text-dark">
                            <div class="m-2">
                                <form class="m-0" action="{{ create_shader }}" method="POST">
                                    {% csrf_token %}
                                    <button class="btn btn-danger" type="submit">Create Shader</button>
                                </form>
                            </div>
                            <div class="m-2">
                                <form class="m-0" action="{{ logout }}" method="post">
                                    {% csrf_token %}
                                    <div class="input-group flex-nowrap">
                                        <button type="submit" class="btn btn-danger">Logout</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-danger" href="#" id="signInDropdown" role="button" data-bs-toggle="dropdown">
                            Sign In
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <form class="m-0" action="{{ login }}" method="post">
                                {% csrf_token %}
                                <div class="form-control border-0">{{ login_form.username }}</div>
                                <div class="form-control border-0">{{ login_form.password }}</div>
                                <div class="form-control border-0"><button type="submit" class="btn btn-danger">Login</button></div>
                                <div class="form-control border-0"><a class="text-danger" href="{{ create_user_page }}">Dont have an account?</a></div>
                            </form>
                        </div>
                    </div>
                {% endif %}
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header pb-1">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                            <a class="navbar-brand justify-content-end" href="{{ home }}">
                                <img class="w3-round" src="{% static 'images/logo2TextOnly.png' %}" width="200px" height="auto"></img>
                            </a>
                        </h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <hr class="my-0 text-dark">
                            <li class="nav-item">
                                <a class="nav-link {% active request index %} text-danger" href="{{ index }}">Index</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% active request aboutUs %} text-danger" href="{{ aboutUs }}">About Us</a>
                            </li>
                            <hr class="my-0 text-dark">
                            {% if user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link text-danger" href="{{ profile }}">Profile</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link text-danger" href="{{ login_page }}">Log In</a>
                                </li>
                                <li>
                                    <a class="nav-link text-danger" href="{{ create_user_page }}">Create Account</a>
                                </li>
                            {% endif %}
                            <hr class="my-0 text-dark">
                            <li class="nav-item my-3">
                                <form action="{{ create_shader }}" method="POST">
                                    {% csrf_token %}
                                    <button class="btn btn-danger" type="submit">Create Shader</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        {% block page %}{% endblock page %}
        <footer class="py-3 bg-white">
            <ul class="nav justify-content-center">
                <li class="nav-item"><a href="{{ index }}" class="nav-link px-2 text-danger {% active request index %}">Index</a></li>
                <li class="nav-item"><a href="{{ aboutUs }}" class="nav-link px-2 text-danger {% active request aboutUs %}">About Us</a></li>
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link px-2 text-danger" href="{{ profile }}">Profile</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link px-2 text-danger" href="{{ login_page }}">Log In</a></li>
                    <li><a class="nav-link px-2 text-danger" href="{{ create_user_page }}">Create Account</a></li>
                {% endif %}
            </ul>
            <div class="d-flex justify-content-center"><hr class="my-2 text-dark w-50"></div>
            <p class="text-center text-danger">&copy; 2022 L14, Inc</p>
          </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>