{% extends "SJLApp/base.html" %}
{% load static %}

{% block head %}
    <title>SJL - Create Account</title>
{% endblock head %}

{% block page %}
    {% url 'SJLApp:create_user' as create_user %}
    <h1 align="center">Account Creation</h1>
    <div class="container" style="padding-left: 25%;padding-right: 25%">
        <form action="{{ create_user }}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ create_user_form.email }}
            </div>
            <div class="mb-3">
                {{ create_user_form.username }}
            </div>
            <div class="mb-3">
                {{ create_user_form.password }}
            </div>
            <div class="mb-3">
                {{ create_user_form.confirm_password }}
            </div>
            <button type="submit" class="btn btn-danger">Submit</button>
        </form>
    </div>
{% endblock page %}