{% extends "SJLApp/base.html" %}
{% load static %}

{% block head %}
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <title>SJL Shader - {{ shader.title }}</title>

    <link rel="stylesheet" href="{% static 'assets/fontello/css/fontello.css' %}">
    <link rel="stylesheet" href="{% static 'assets/SocialShareKit/css/social-share-kit.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/skeleton/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'detail-build/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <style>
        .slide-out-menu-right {
            right: -80%;
            position: absolute;
            height: 100%;
            width: 80%;
            background-color: white;
        }
        .menu-button-right {
            position: absolute;
            left: -20px;
            width: 20px;
            color: red;
            background-color: rgba(55, 55, 55, 0.7);
            text-align: center;
        }
        @media (min-width: 520px){
            .slide-out-menu-right {
                width: 500px;
                right: -500;
            }
        }
        .menu-open-right {
            right: 0;
        }
        #config-div>.control-div {
            border: 1px solid;
            margin: 10px;
            padding: 10px;
            display: grid;
            grid-template-columns: 50% auto;
            grid-gap: 10px;
        }
        #config-div .control-button, #config-div .control-option-button  {
            grid-column-start: 1;
            grid-column-end: 3;
        }
        #config-div>.control-div>.control-span {
            display: grid;
        }
        #config-div>.control-div>.control-span>.contorl-option-span {
            display: grid;
            padding: 10px;
            border: 1px solid;
            grid-template-columns: 25% auto;
            grid-gap: 10px;
            margin-left: 20px;
        }
        #config-div .control-option-key, #config-div .control-option-value {
            width: 100%;
        }
        #config-div button {
            text-align: center;
            color: white;
            background-color: #dc3545;
        }
        #config-div .control-span, #config-div .control-option-span {
            align-self: center;
        }
    </style>
{% endblock head %}

{% block page %}
    {% url 'SJLApp:api_shader' pk=shader.pk as api_shader %}
    {% url 'SJLApp:update_shader' pk=shader.pk as update_shader %}
    {% url 'SJLApp:delete_shader' pk=shader.pk as delete_shader %}
    {% url 'SJLApp:comment' pk=shader.pk as comment %}
    <menu class="slide-out-menu-right">
        <div class="menu-button-right">
            <button id="menu-button-right" class="menu-button-icon">
                <i class="bi bi-caret-left"></i>
            </button>
        </div>
        <div>
            <ul class="nav nav-tabs">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active text-danger" data-bs-toggle="tab" data-bs-target="#info" type="button">Info</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link text-danger" data-bs-toggle="tab" data-bs-target="#glsl" type="button" onclick="refreshMyEditor()">GLSL Editor</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link text-danger" data-bs-toggle="tab" data-bs-target="#config" type="button">Config</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link text-danger" data-bs-toggle="tab" data-bs-target="#comments" type="button">Comments</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active menu-scroll" style="height: calc(100vh - 95px);" id="info">
                        <div class="m-3">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex">
                                    <h1 id="shader-title" class="m-0 me-1 text-break">{{ shader.title }}</h1>
                                    <button type="button" id="shader-title-edit" class="text-danger h-25" onClick="title_edit()"><i class="bi bi-pencil-square"></i></button>
                                </div>
                            </div>
                            <div class="d-flex m-1">
                                <label class="form-check-label">Public: </label>
                                <div class="form-check mx-1">
                                    {{ shader_form.is_public }}
                                </div>
                            </div>
                            <br>
                            <img src = "{% static 'images/profile-blank.jpg' %}"
                                class="rounded-circle mx-1" width="30" height="30"/>
                                <a href="{% url 'SJLApp:user_detail_page' pk=shader.user.id %}">{{ shader.user.username }}</a>
                            <p class="m-1">{{ shader.date }}</p>
                            <div class="d-flex">
                                <p id="shader-description" class="m-1 text-break">{{ shader.description }}</p>
                                <button type="button" id="shader-description-edit" class="text-danger h-25" onClick="description_edit()"><i class="bi bi-pencil-square"></i></button>
                            </div>
                            <br>
                            <form action="{{ delete_shader }}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-danger" type="submit">Delete</button>
                            </form>
                        </div>
                        {{ shader_form.code }}
                        {{ shader_form.config }}
                </div>
                <div class="tab-pane fade" id="glsl">
                    <div class="d-flex flex-column position-absolute" style="z-index: 1; right: 10px">
                        <button type="button" id="shader-code-info" class="text-danger m-2 h-25" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-html="true" title='SHADER, CENTER, RANGE, ROTATION, RESOLUTION, TIME, MSAA_COORDINATES, SPEED'><i class="bi bi-info-circle"></i></button>
                        <button type="button" id="shader-code-save" class="text-danger m-2 h-25" data-bs-toggle="tooltip" data-bs-placement="left" title="Save"><i class="bi bi-check-square"></i></button>
                    </div>
                    <!-- Getting the value of the shader code from the shader model. -->
                    <input type="hidden" name="shader-code" id="shader-code" value="{{shader.code}}">
                    <!-- The code editor's division! -->
                    <div class="editor-class" id="editor-id" style="height: calc(100vh - 97px);"></div>
                    <!--Insert editor here!-->
                    <script type="text/javascript" src="{% static 'my-codemirror/plugin/codemirror/lib/codemirror.js' %}"></script>
                    <script type="text/javascript" src="{% static 'my-codemirror/plugin/codemirror/mode/glsl/glsl.js' %}"></script>
                    <!--Editor is a child division of the division with class "editor-class" and optionally can be restricted to the size of the div with id "editor-id".-->
                    <script type="text/javascript" src="{% static 'my-codemirror/js/default.js' %}"></script>
                </div>
                <div class="tab-pane fade menu-scroll" style="height: calc(100vh - 95px);" id="config">
                    <!--CONFIG SCRIPT INPUT HERE-->
                    <!--input type="hidden" name="config-json" id="config-json" value="{{shader.config}}"-->
                    <div id="config-div"></div>
                    <div class="m-2">
                        <button class="btn btn-danger" onclick="addControl()">Add Control</button>
                        <button class="btn btn-danger" onclick="config_save()">Save Config</button>
                    </div>
                    <script src="{% static 'sprint08-config-editor/config2.js' %}"></script>
                </div>
                <div class="tab-pane fade menu-scroll" style="height: calc(100vh - 95px);" id="comments">
                    <div class="card" style="padding: 10px 10px 10px 10px">
                        <div class="card-text">
                            <p>Comments ({{ shader.comment_set.count }})</p>
                        </div>
                        <form action="{{ comment }}" method="POST">
                            {% csrf_token %}
                            <div style="padding-top: 5px">
                                {{ comment_form.content }}
                                <button type="submit" class="btn btn-sm btn-outline-danger mt-1"
                                        style="float:right">Submit
                                </button>
                            </div>
                        </form>
                        {% for comment in shader.comment_set.all %}
                            <div class="card-body" style="background-color: lightgray;">
                                <img src = "{% static 'images/profile-blank.jpg' %}"
                                    class="rounded-circle" width="30" height="30"/> {{ comment.user.username }}
                                <p></p>
                                <p>{{ comment.content }}</p>
                                <form action="{% url 'SJLApp:delete_comment' pk=comment.pk %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="comment_id" value="{{ comment.id }}"/>
                                    <button class="btn btn-danger" type="submit">Delete</button>
                                </form>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </menu>
    <input id="url" type="hidden" value="{{ api_shader }}"/>
    <main id="root">
        <section class="content">
            <section>
                <div>
                    <canvas id="main"></canvas>
                </div>
            </section>
        </section>
    </main>
    <script id="shader-script" src="{% static 'detail-build/bundle.js' %}"></script>
    <script>
        $(document).ready(function() {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        })
        $("#menu-button-right").click(function(){
            var element = $(".slide-out-menu-right")[0];
            element.classList.toggle("menu-open-right");
        })
        $("#shader-ispublic").click(function(){
            var newval = $("#shader-ispublic").val();
            var newform = $('<form>{% csrf_token %}{{ shader_form|escapejs }}</form>');
            newform.find("#shader-ispublic").prop('checked', this.checked);
            fetch("{{ update_shader }}", {
                method: 'post',
                headers: { "X-CSRFToken": newform.find("input[name=csrfmiddlewaretoken]").val() },
                body: new FormData(newform[0]),
            })
        })
        $("#shader-code-save").click(function(){
            var newval = editor.getValue();
            var newform = $('<form>{% csrf_token %}{{ shader_form|escapejs }}</form>');
            newform.find("#shader-code").val(newval);
            fetch("{{ update_shader }}", {
                method: 'post',
                headers: { "X-CSRFToken": newform.find("input[name=csrfmiddlewaretoken]").val() },
                body: new FormData(newform[0]),
            }).then(data => {
                location.reload();
            });
        })
        function title_edit(){
            var field = $("{{ shader_form.title|escapejs }}");
            field.val($("#shader-title").text());
            $("#shader-title").replaceWith(field);
            $("#shader-title-edit").replaceWith('<button type="button" id="shader-title-save" class="text-danger h-100" onClick="title_save()"><i class="bi bi-check-square"></i></button>');
        }
        function title_save(){
            var newval = $("#shader-title").val();
            $("#shader-title").replaceWith('<h1 id="shader-title" class="m-0 me-1 text-break">' + newval + '</h1>');
            $("#shader-title-save").replaceWith('<button type="button" id="shader-title-edit" class="text-danger h-25" onClick="title_edit()"><i class="bi bi-pencil-square"></i></button>');
            var newform = $('<form>{% csrf_token %}{{ shader_form|escapejs }}</form>');
            newform.find("#shader-title").val(newval);
            fetch("{{ update_shader }}", {
                method: 'post',
                headers: { "X-CSRFToken": newform.find("input[name=csrfmiddlewaretoken]").val() },
                body: new FormData(newform[0]),
            })
        }
        function description_edit(){
            var field = $("{{ shader_form.description|escapejs }}");
            field.val($("#shader-description").text());
            $("#shader-description").replaceWith(field);
            $("#shader-description-edit").replaceWith('<button type="button" id="shader-description-save" class="text-danger h-100" onClick="description_save()"><i class="bi bi-check-square"></i></button>');
        }
        function description_save(){
            var newval = $("#shader-description").val();
            $("#shader-description").replaceWith('<p id="shader-description" class="m-1 text-break">' + newval + '</p>');
            $("#shader-description-save").replaceWith('<button type="button" id="shader-description-edit" class="text-danger h-25" onClick="description_edit()"><i class="bi bi-pencil-square"></i></button>');
            var newform = $('<form>{% csrf_token %}{{ shader_form|escapejs }}</form>');
            newform.find("#shader-description").val(newval);
            fetch("{{ update_shader }}", {
                method: 'post',
                headers: { "X-CSRFToken": newform.find("input[name=csrfmiddlewaretoken]").val() },
                body: new FormData(newform[0]),
            })
        }
        function config_save(){
            save();
            var newval = $("#shader-config").val();
            console.log(newval);
            var newform = $('<form>{% csrf_token %}{{ shader_form|escapejs }}</form>');
            newform.find("#shader-config").val(newval);
            fetch("{{ update_shader }}", {
                method: 'post',
                headers: { "X-CSRFToken": newform.find("input[name=csrfmiddlewaretoken]").val() },
                body: new FormData(newform[0]),
            }).then(data => {
                location.reload();
            });
        }
    </script>
{% endblock page %}