{% extends "SJLApp/base.html" %}
{% load static %}

{% block head %}
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <title>SJL Shader - {{ shader.title }}</title>

    <link rel="stylesheet" href="{% static 'assets/fontello/css/fontello.css' %}">
    <link rel="stylesheet" href="{% static 'assets/SocialShareKit/css/social-share-kit.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/skeleton/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'detail-build/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <style>
        .slide-out-menu-right {
            right: -80%;
            position: absolute;
            height: 100%;
            width: 80%;
            background-color: white;
        }
        .menu-button-right {
            position: absolute;
            left: -20px;
            width: 20px;
            color: red;
            background-color: rgba(55, 55, 55, 0.7);
            text-align: center;
        }
        @media (min-width: 520px){
            .slide-out-menu-right {
                width: 500px;
                right: -500;
            }
        }
        .menu-open-right {
            right: 0;
        }
    </style>
{% endblock head %}

{% block page %}
    {% url 'SJLApp:api_shader' pk=shader.pk as api_shader %}
    {% url 'SJLApp:comment' pk=shader.pk as comment %}

    <menu class="slide-out-menu-right">
        <div class="menu-button-right">
            <button id="menu-button-right" class="menu-button-icon">
                <i class="bi bi-caret-left"></i>
            </button>
        </div>
        <div class="menu-scroll">
            <ul class="nav nav-tabs">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active text-danger" data-bs-toggle="tab" data-bs-target="#info" type="button">Info</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link text-danger" data-bs-toggle="tab" data-bs-target="#glsl" type="button" onclick="refreshMyEditor()">GLSL Editor</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link text-danger" data-bs-toggle="tab" data-bs-target="#comments" type="button">Comments</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" style="height: calc(100vh - 95px);" id="info">
                    <h1 class="jumbotron-heading mx-3">{{ shader.title }}</h1>
                    <div class="m-3">
                        <img src = "{% static 'images/profile-blank.jpg' %}"
                            class="rounded-circle mx-1" width="30" height="30"/>
                            <a href="{% url 'SJLApp:user_detail_page' pk=shader.user.id %}">{{ shader.user.username }}</a>
                        <p class="m-1">{{ shader.date }}</p>
                        <p class="m-1">{{ shader.description }}</p>
                    </div>
                </div>
                <div class="tab-pane fade" id="glsl">
                    <div class="col" style = "max-width: 500px">
                        <!-- Getting the value of the shader code from the shader model. -->
                        <input type="hidden" name="shader-code" id="shader-code" value="{{shader.code}}">
        
                        <!-- The code editor's division! -->
                        <div class="editor-class" id="editor-id" style="height: calc(100vh - 97px);"></div>
                        
                        <!--Insert editor here!-->
                        <script type="text/javascript" src="{% static 'my-codemirror/plugin/codemirror/lib/codemirror.js' %}"></script>
                        <script type="text/javascript" src="{% static 'my-codemirror/plugin/codemirror/mode/glsl/glsl.js' %}"></script>
                        <!--Editor is a child division of the division with class "editor-class" and optionally can be restricted to the size of the div with id "editor-id".-->
                        <script type="text/javascript" src="{% static 'my-codemirror/js/default.js' %}"></script>
                    </div>
                </div>
                <div class="tab-pane fade" style="height: calc(100vh - 95px);" id="comments">
                    <div class="card" style="padding: 10px 10px 10px 10px">
                        <div class="card-text">
                            <p>Comments ({{ shader.comment_set.count }})</p>
                        </div>
                        
                        <form action="{{ comment }}" method="POST">
                            {% csrf_token %}
                            <div style="padding-top: 5px">
                                {{ comment_form.content }}
                                <button type="submit" class="btn btn-sm btn-outline-secondary mt-1"
                                        style="float:right">Submit
                                </button>
                            </div>
                        </form>
                        
                        {% for comment in shader.comment_set.all %}
                            <div class="card-body" style="background-color: lightgray;">
                                <img src = "{% static 'images/profile-blank.jpg' %}"
                                    class="rounded-circle" width="30" height="30"/> {{ comment.user.username }}
                                <p></p>
                                <p>{{ comment.content }}</p>
                                {% if user == comment.user %}
                                    <form action="{% url 'SJLApp:delete_comment' pk=comment.pk %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="comment_id" value="{{ comment.id }}"/>
                                        <button class="btn btn-primary" type="submit">Delete</button>
                                    </form>
                                {% endif %}
                            </div>
                        {% endfor %}
            
                    </div>
                </div>
            </div>
        </div>
    </menu>
    <input id="url" type="hidden" value="{{ api_shader }}"/>
    <main id="root">
        <section class="content">
            <section>
                <div>
                    <canvas id="main"></canvas>
                </div>
            </section>
        </section>
    </main>

    <script src="{% static 'detail-build/bundle.js' %}"></script>
    <script>
        /* eslint-disable */
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-83600496-1', 'auto');
        ga('send', 'pageview');
        /* eslint-enable */
    </script>
    <script>
        $("#menu-button-right").click(function(){
            var element = $(".slide-out-menu-right")[0];
            element.classList.toggle("menu-open-right");
        })
    </script>
    
{% endblock page %}