{% extends "SJLApp/base.html" %}
{% load static %}

{% block head %}
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <title>SJL - Index</title>
    <link rel="stylesheet" href="{% static 'assets/fontello/css/fontello.css' %}">
    <link rel="stylesheet" href="{% static 'assets/SocialShareKit/css/social-share-kit.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/skeleton/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/skeleton/skeleton.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'index-build/style.css' %}">
{% endblock head %}

{% block page %}
    {% url 'SJLApp:api_shaders' as api_shaders %}
    <div style="background-color: #1a0707;">
        <!-- Jumbotron -->
        <div
            class="text-center bg-image rounded-3 bg-julia"
            style="
                background-size: cover;
                background-color: rgba(255, 0, 0, 0.75);
                background-blend-mode: multiply;
            "
        >
            <div class="d-flex justify-content-center align-items-center">
                <div class="row py-5" style="background-color:rgba(0, 0, 0, 0.673); color: #ad1e1e; max-width: 1200px;">
                    <img class="img-fluid w3-round mx-5 mb-2" src="{% static 'images/logo2.png' %}" 
                        style="max-width: 100%; max-width: -moz-available; max-width: -webkit-fill-available; max-width: fill-available;">
                    </img>
                    <h5 class="mb-4">
                        The Best Shader Platform
                    </h5>
                    {% if not user.is_authenticated %}
                        <div>
                            <a
                                class="btn btn-outline-danger btn-lg m-2"
                                href="{{ login_page }}"
                                role="button"
                                >Login To Get Started
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="row bg-white py-3" style="width: 1200px;">
                    <div class="d-flex justify-content-center">
                        <div class="input-group m-3" style="max-width: 950px;">
                            <div class="input-group-prepend">
                                <select id="search-select" class="form-select">
                                    <option {% if title__contains %}selected{% endif %} value="title__contains">Title</option>
                                    <option {% if code__contains %}selected{% endif %} value="code__contains">Code</option>
                                    <option {% if description__contains %}selected{% endif %} value="description__contains">Description</option>
                                </select>
                            </div>
                            <input id="search-input" type="text" class="form-control" placeholder="Search" value="{{ title__contains }}{{ code__contains }}{{ description__contains }}">
                            <button id="search-btn" class="btn btn-danger" type="button">Go</button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="prev-btn btn btn-danger m-1" type="button">Prev</button>
                        <button class="next-btn btn btn-danger m-1" type="button">Next</button>
                    </div>
                    <div class="d-flex justify-content-center"><hr class="my-2 mx-5 text-dark w-100"></div>
                    <div class="py-3">
                        <input id="url" type="hidden" value="{{ api_shaders }}?{{ querystring }}"/>
                        <main id="root">
                        </main>
                    </div>
                    <div class="d-flex justify-content-center"><hr class="my-2 mx-5 text-dark w-100"></div>
                    <div class="d-flex justify-content-center">
                        <button class="prev-btn btn btn-danger m-1" type="button">Prev</button>
                        <button  class="next-btn btn btn-danger m-1" type="button">Next</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Jumbotron -->
    </div>

    <script src="{% static 'index-build/bundle.js' %}"></script>

    <script>
        $("#search-btn").click(function(){
            var url = new URL(location.protocol + '//' + location.host + location.pathname);
            url.searchParams.set($("#search-select").val(), $("#search-input").val());
            window.location = url;
        });
        $(".prev-btn").click(function(){
            event.stopPropagation();
            event.stopImmediatePropagation();
            var pg = parseInt("{{ page }}") || 1;
            if(pg>1) {
                pg -=1;
            }
            var url = new URL(window.location);
            url.searchParams.set("page", pg);
            window.location = url;
        });
        $(".next-btn").click(function(){
            event.stopPropagation();
            event.stopImmediatePropagation();
            var pg = parseInt("{{ page }}") || 1;
            pg += 1;
            var url = new URL(window.location);
            url.searchParams.set("page", pg);
            window.location = url;
        });
    </script>
{% endblock page %}