{% extends "SJLApp/base.html" %}
{% load static %}

{% block head %}
    <title>SJL - Login</title>
{% endblock head %}

{% block page %}
    {% url 'SJLApp:login' as login %}
    {% url 'SJLApp:create_user_page' as create_user_page %}
    <div class="container" style="padding-left: 25%;padding-right: 25%">
        <h1 align="center">Login</h1>
        <form action="{{ login }}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ login_form.username }}
            </div>
            <div class="mb-3">
                {{ login_form.password }}
            </div>
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-danger">Submit</button>
                <a class="text-danger" href="{{ create_user_page }}">Dont have an account?</a>
            </div>
        </form>
    </div>
{% endblock page %}