{% extends "SJLApp/base.html" %}
{% load static %}

{% block head %}
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <title>SJL User - {{ this_user.username }}</title>

    <link rel="stylesheet" href="{% static 'assets/fontello/css/fontello.css' %}">
    <link rel="stylesheet" href="{% static 'assets/SocialShareKit/css/social-share-kit.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/skeleton/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/skeleton/skeleton.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'index-build/style.css' %}">
{% endblock head %}

{% block page %}

{% url 'SJLApp:change_user_info' as change_user_info %}
{% url 'SJLApp:change_pass' as change_pass %}
{% url 'SJLApp:change_about' as change_about %}

<div style="background-color: #1a0707;">
    <div class="text-center bg-image bg-julia"
        style="
            background-size: cover;
            background-color: rgba(255, 0, 0, 0.75);
            background-blend-mode: multiply;
        "
    >
        <div class="d-flex flex-wrap justify-content-center align-items-center">
            <div class="row py-5" style="background-color:rgba(0, 0, 0, 0.673); color: #ad1e1e; width: 1200px;">
                <h1>{{ this_user.username }}'s Page</h1>
                <div class="d-flex justify-content-center"><hr class="my-2 text-dark w-100"></div>
            </div>
            <nav class="px-0" style="background-color:rgba(0, 0, 0, 0.673); color: #ad1e1e; width: 1200px;">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link text-danger active rounded-0 rounded-top" id="nav-shaders-tab" data-bs-toggle="tab" data-bs-target="#nav-shaders" type="button" role="tab" aria-selected="true">
                        {{ this_user.username }}'s Shaders
                    </button>
                    {% if this_user == user %}
                        <button class="nav-link text-danger rounded-0 rounded-top" id="nav-accountSettings-tab" data-bs-toggle="tab" data-bs-target="#nav-accountSettings" type="button" role="tab" aria-selected="false">
                            Account Settings
                        </button>
                    {% endif %}
                    <button class="nav-link text-danger rounded-0 rounded-top" id="nav-accountSettings-tab" data-bs-toggle="tab" data-bs-target="#nav-about" type="button" role="tab" aria-selected="false">
                        About Me
                    </button>
                    {% if this_user == user %}
                        <form class="m-0" action="{{ create_shader }}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-outline-danger" type="submit">Create Shader</button>
                        </form>
                    {% endif %}
                </div>
            </nav>
        </div>
        <div class="row mx-auto bg-white" style="max-width: 1200px;">
            <div class="tab-content mt-3" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-shaders" role="tabpanel" aria-labelledby="nav-shaders-tab">
                    <div class="d-flex justify-content-center">
                        <div class="input-group m-3" style="max-width: 950px;">
                            <div class="input-group-prepend">
                                <select id="search-select" class="form-select">
                                    <option {% if title__contains %}selected{% endif %} value="title__contains">Title</option>
                                    <option {% if code__contains %}selected{% endif %} value="code__contains">Code</option>
                                    <option {% if description__contains %}selected{% endif %} value="description__contains">Description</option>
                                </select>
                            </div>
                            <input id="search-input" type="text" class="form-control" placeholder="Search" value="{{ title__contains }}{{ code__contains }}{{ description__contains }}">
                            <button id="search-btn" class="btn btn-danger" type="button">Go</button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="prev-btn btn btn-danger m-1" type="button">Prev</button>
                        <button class="next-btn btn btn-danger m-1" type="button">Next</button>
                    </div>
                    <div class="show" id="myShaders">
                        <div style="text-align:center">
                            {% url 'SJLApp:api_user_shaders' pk=this_user.pk as api_shaders %}

                            <input id="url" type="hidden" value="{{ api_shaders }}?{{ querystring }}"/>
                            <main id="root">
                                <canvas id="main"></canvas>
                            </main>
                        
                            <script src="{% static 'index-build/bundle.js' %}"></script>             
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="prev-btn btn btn-danger m-1" type="button">Prev</button>
                        <button class="next-btn btn btn-danger m-1" type="button">Next</button>
                    </div>
                </div>
                {% if this_user == user %}
                    <div class="tab-pane fade show" id="nav-accountSettings" role="tabpanel" aria-labelledby="nav-accountSettings-tab">
                        <div class="container" id="accountSettings" style="padding-left:50px;padding-right:50px;">
                            <a class="btn btn-danger" data-bs-toggle="collapse" href="#editInformation" role="button">
                                Edit My Information
                            </a>
                            <div class="collapse" id="editInformation">
                                <form action="{{ change_user_info }}" method="post">
                                    {% csrf_token %}
                                    <div class="my-3">
                                        {{ change_user_info_form.username }}
                                    </div>
                                    <div class="my-3">
                                        {{ change_user_info_form.first_name }}
                                    </div>
                                    <div class="my-3">
                                        {{ change_user_info_form.last_name }}
                                    </div>
                                    <div class="my-3">
                                        {{ change_user_info_form.email }}
                                    </div>
                                    <button type="submit" class="btn btn-danger">Submit</button>
                                </form>
                            </div>
                            <br>
                            <br>
                            <a class="btn btn-danger" data-bs-toggle="collapse" href="#changePassword" role="button">
                                Change Password
                            </a>
                            <br>
                            <div class="collapse" id="changePassword">
                                <form action="{{ change_pass }}" method="post">
                                    {% csrf_token %}
                                    <div class="my-3">
                                        {{ change_pass_form.current_password }}
                                    </div>
                                    <div class="my-3">
                                        {{ change_pass_form.password }}
                                    </div>
                                    <div class="my-3">
                                        {{ change_pass_form.confirm_password }}
                                    </div>
                                    <button type="submit" class="btn btn-danger">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="tab-pane fade show" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                    <div class="container" id="aboutShow" style="text-align:center;">
                        <div id="about" class="collapse show multi-collapse border">
                            {{ this_user.profile.about|linebreaks }}
                        </div>
                        {% if this_user == user %}
                        <br>
                        <div id="editButton" class="collapse show multi-collapse">
                            <button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="aboutShow editButton aboutEdit">Edit</button>
                        </div>
                        <div class="collapse multi-collapse" id="aboutEdit">
                            <form action="{{ change_about }}" method="post">
                                {% csrf_token %}
                                {{ about_form.about }}
                                <button type="submit" class="btn btn-danger">Submit</button>
                                <button type="button" class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="aboutShow editButton aboutEdit">Cancel</button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#search-btn").click(function(){
        var url = new URL(location.protocol + '//' + location.host + location.pathname);
        url.searchParams.set($("#search-select").val(), $("#search-input").val());
        window.location = url;
    });
    $(".prev-btn").click(function(){
            event.stopPropagation();
            event.stopImmediatePropagation();
            var pg = parseInt("{{ page }}") || 1;
            if(pg>1) {
                pg -=1;
            }
            var url = new URL(window.location);
            url.searchParams.set("page", pg);
            window.location = url;
        });
        $(".next-btn").click(function(){
            event.stopPropagation();
            event.stopImmediatePropagation();
            var pg = parseInt("{{ page }}") || 1;
            pg += 1;
            var url = new URL(window.location);
            url.searchParams.set("page", pg);
            window.location = url;
        });
</script>

{% endblock page %}